/* Estilos Card Dioses */

.card .card-image img {
    width: 80%!important;
    margin: 0px auto;
}

.cardDioses{
    margin:50px 0px 50px 0px;
}

.TitularDioses{
    display: inline-flex;
    width: 100%;
    padding-left: 0px;

}

.row{
    padding-left: 0px;
}


.titDioses{
    margin-top: 0px;
    font-size: 30px;
    color: white;
    text-align: left;
}

.txtDioses{
    color: white;
}

/* Tarjetas de Inicio */

.dioses_card{
    margin-bottom: 80px!important;
}